@tailwind base;
@tailwind components;
@tailwind utilities;

#footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.cp_carousel{
    display: flex;
    flex-direction: row;
    align-items: end;
}

html, body {
      overflow-x: hidden;
      overflow-y: hidden; /* Disables vertical scrolling */
      margin: 0;
      padding: 0;
      height: 100%;
    }
